<div class="about">
    <h2 class="about__title">О проекте</h2>
    <div class="about__text">
        <b>Что такое TODO?</b><br><br>
        <b>TODO</b> - список айтемов(задач/запсей/заметок), которые разработчик оставляет в коде в качестве напоминания. Многие разработчики применяют тудушки, но их создание и ведение содержит в себе определенные подводные камни, поэтому это непростая тема для разработчиков.
        <br><br>
        <b>Почему разработчики используют TODO?</b>
        <br><br>
        Есть разные причины, по которым инженеры-программисты используют тудушки в своих проектах:
        <br>
        <b>- Заметки и напоминания.</b> Представьте, что вы разрабатываете новую функцию и сталкиваетесь с фрагментом кода, который требует рефакторинга. Однако, рефакторинг не влияет на новую фичу напрямую, поэтому вы делаете тудушку, чтобы напомнить себе. Это отличный пример того, как быстро записать небольшое действие как TODO, которое необходимо выполнить позже.
        <br>
        <b>- TODO вместо таски.</b> Никто не хочет создавать таски для мелких изменений, заметок, потому что это кажется пустой тратой времени. По этой причине многие разработчики добавляют десятки тудушек в код, чтобы заменить необходимость в тасках.
        <br>
        <b>- Подсказки.</b> Разработчики часто используют TODO как подсказки для других разработчиков, работающих с тем же кодом.
        <br>
        <b>- Поддержка IDE.</b> Много IDE имеют функции для подсвечивания и поиска TODO в вашем коде.
    </div>
</div>
