.main{
    width: 100%;
    margin: 0;
    padding: 0;
}
.main__container{
    max-width: 720px;
    min-height: 220px;
    max-height: 900px;
    margin: 100px auto;
    border-radius: 30px;
    border: 1px solid rgb(79, 115, 223);
    background-color: rgb(79, 115, 223);
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.content{
    margin: 0;
    padding: 0;
    min-height: 200px;
    max-height: 900px;
    overflow: scroll;
}
.content::-webkit-scrollbar {
    width: 0;
  }
