<div class="add">
    <input type="text" class="add__input" placeholder="Введите текст задачи..." [(ngModel)]="inputValue">
    <select name="status" id="status-select" class="add__select" [(ngModel)]="inputStatus">
        <option value="Обычная" class="add__option">Обычная</option>
        <option value="Важная" class="add__option">Важная</option>
        <option value="Выполненная" class="add__option">Выполненная</option>
    </select>
    <button class="add__button" (click)="todoService.addService(inputValue, inputStatus)">Добавить</button>
</div>
